<footer>
  {% include news/subscribe-newsletter.html id='newsletter-subscribe-footer' text='Sign up for news by email:' %}
  {% include header-footer/social.html %}
  {% include header-footer/notices.html %}
</footer>
<!-- build:js(app) /javascript/script.js -->
<script src="/javascript/external/jquery3.4.1.js"></script>
<script src="/javascript/external/curator3.1.js"></script>
<script src="/javascript/util.js"></script>
<script src="/javascript/site.js"></script>
<script src="/javascript/homepage-social.js"></script>
<!-- endbuild -->